{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Acerca de nosotros</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sit voluptas maxime ducimus, quidem beatae dolore maiores placeat ut accusantium quae dolorum dicta nisi eius atque iusto reiciendis ea aliquam.</p>
  </div>
  <div class="col-4">
    <img class="img-thumbnail" src="assets/img/about.jpg" alt="">
  </div>
</div>


{{> footer }}